*{
    margin: 0;
    padding: 0
}


.v-data-table {
    
    table {
    
        padding: 4px;
        padding-bottom: 4px;
        
        th {
            white-space: nowrap;
        }

        td {
            border-radius: 0 !important;
            border-bottom: 0 !important;
        }
        tbody{
            tr{
                transition: box-shadow 0.2s, transform 0.2s;
                &:not(.v-data-table__selected):hover {
                    box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.12);
                    transform: translateY(-4px);
                }
            }
        }
    }
}


.v-text-field .v-input__control .v-input__slot {
    // min-height: 55px !important;
    // display: flex !important;
    // align-items: top !important;
    padding-top: 0;
    height: 48px;
  }
//   .v-input__control{
//       padding-top: 0;
//       padding-bottom: 0;
//   }
