//Buttons

$btn-text-transform: none;
$data-table-border-radius: 10px;
// $select-dense-chip-margin: 10px 4px 10px 4px;
// $select-prefix-line-height: 50px;
// $select-outlined-selections-padding-top: 0px;
$data-table-dense-row-height: 20px !important;
$text-field-padding: 0 !important;
$text-field-dense-padding: 0 !important;
$text-field-label-top: 15px !important;
$text-field-dense-label-top: 15px !important;
$time-picker-clock-max-width: 100px !default;
// $text-field-outlined-fieldset-border: 2px solid red !important; //this is for focus thing
// $text-field-outlined-border: 2px solid red !important; //this is for focus thing
// $text-field-label-active-transform: translateY(-50px) scale(0.75) !default;
// $text-field-dense-label-active-transform: translateY(-50px) scale(0.75) !default;
// $text-field-filled-full-width-label-active-transform: translateY(-50px)
//   scale(0.75) !default;
